/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* สีพื้นหลัง */
    overflow: hidden; /* ป้องกันข้อความเลื่อนออกนอกพื้นหลัง */
}

#bigTextContainer {
    position: relative;
    width: 100%; /* ทำให้ข้อความเต็มความกว้างของหน้าจอ */
    overflow: hidden; /* ป้องกันข้อความเลื่อนออกนอกขอบของคอนเทนเนอร์ */
}

#bigText {
    font-size: 400px; /* ขนาดตัวอักษร */
    font-weight: bold; /* ตัวหนังสือหนา */
    white-space: nowrap; /* ไม่ขึ้นบรรทัดใหม่ */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg); /* ตำแหน่งตรงกลางและหยุดหมุน */
    animation: shake 1s ease-in-out infinite alternate, changeColor 3s linear infinite; /* เรียกใช้ animation ชื่อ shake และ changeColor */
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(1deg); /* เขย่าเบาๆ 1 องศา */
    }
}

@keyframes changeColor {
    0% {
        color: rgb(255, 0, 0); /* เริ่มที่สีแดง */
    }
    33% {
        color: rgb(0, 255, 0); /* สีเขียว */
    }
    66% {
        color: rgb(0, 0, 255); /* สีน้ำเงิน */
    }
    100% {
        color: rgb(255, 0, 0); /* กลับไปสีแดง */
    }
}
